<div class="container mt-5 col-md-6">
  <div class="card p-4 shadow-sm">
    <h4 class="mb-3 text-primary"><i class="fas fa-play-circle me-2"></i> Upload Course Video</h4>

    <form #videoForm="ngForm"  (ngSubmit)="uploadVideo()" enctype="multipart/form-data">
      
      <!-- Course Selection -->
      <div class="mb-3">
        <label class="form-label">Select Course</label>
        <select
          class="form-select"
          [(ngModel)]="selectedCourseId"
          [disabled]="isCoursePreselected!"
          name="courseId"
          required>
          <option value="" selected disabled>Select a course</option>
          <option *ngFor="let course of myCourses" [value]="course.id">
            {{ course.title }}
          </option>
        </select>
      </div>

      <!-- Video Title -->
      <div class="mb-3">
        <label class="form-label">Video Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="title"
          name="title"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Video Description</label>
        <textarea
          class="form-control"
          [(ngModel)]="description"
          name="description"
          rows="4"
          required
        ></textarea>
      </div>

      <!-- File Input -->
      <div class="mb-3">
        <label class="form-label">Select Video File</label>
        <input
          type="file"
          class="form-control"
          (change)="onFileSelected($event)"
          accept="video/*"
          #fileInput
          required
        />
        <small *ngIf="selectedFile" class="text-muted">
          📁 Selected: {{ selectedFile.name }}
        </small>
      </div>

      <!-- Submit Button -->
      <button [disabled]="isUploading || videoForm.invalid" class="btn btn-primary w-100" type="submit">
        <i class="fa-solid fa-upload"></i> Upload
      </button>
    </form>
  </div>
</div>
