<div class="card shadow-sm p-4">
  <h5 class="fw-bold mb-4">System Settings</h5>

  <form [formGroup]="form" (ngSubmit)="logoFile ? uploadLogoAndSave() : save()">
    <div class="row">
      <!-- Left Column -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Platform Name</label>
          <input readonly type="text" class="form-control text-muted fw-bold" formControlName="platformName" placeholder="Platform Name">
        </div>

        <div class="mb-3">
          <label class="form-label">Max Video Upload Size (MB)</label>
          <input type="number" class="form-control" formControlName="maxVideoUploadSizeMB">
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" formControlName="requireEnrollmentApproval" id="requireEnrollmentApproval">
          <label class="form-check-label" for="requireEnrollmentApproval">Require Enrollment Approval</label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" formControlName="registrationEnabled" id="registrationEnabled">
          <label class="form-check-label" for="registrationEnabled">Allow Public Registration</label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" formControlName="requireEmailVerification" id="requireEmailVerification">
          <label class="form-check-label" for="requireEmailVerification">Require Email Notification</label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="checkbox" formControlName="paidCoursesEnabled" id="paidCoursesEnabled">
          <label class="form-check-label" for="paidCoursesEnabled">Payment Enabled</label>
        </div>

        <!-- <div class="mb-3">
          <label class="form-label">Default Quiz Time (minutes)</label>
          <input type="number" class="form-control" formControlName="defaultQuizTimeMinutes">
        </div> -->

        <div class="mb-3">
          <label class="form-label">Pass Percentage</label>
          <input type="number" class="form-control" formControlName="passPercentage">
        </div>

        <div class="mb-3">
          <label class="form-label">Min Password Length</label>
          <input type="number" class="form-control" formControlName="minPasswordLength">
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-md-6">
        <div class="mb-3">
          <label class="form-label">Quiz Retake Limit</label>
          <input type="number" class="form-control" formControlName="quizRetakeLimit">
        </div>

        <div class="mb-3">
          <label class="form-label">Session Timeout (minutes)</label>
          <input type="number" class="form-control" formControlName="sessionTimeoutMinutes">
        </div>

        <div class="mb-3">
          <label class="form-label">Platform Logo</label>
          <input #fileInput type="file" class="form-control" (change)="onFileSelected($event)">
          <img *ngIf="setting && setting?.logoUrl" [src]="setting.logoUrl" class="img-thumbnail mt-2" width="100">
        </div>
      </div>
    </div>

    <div class="text-end mt-3">
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid || loading">
        {{ loading ? 'Saving...' : 'Save Settings' }}
      </button>
    </div>
  </form>
</div>
