.video-wrapper video {
  border-radius: 8px;
}

.video-item {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.video-item:hover {
  transform: translateY(-3px);
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

.video-scroll-container {
  max-height: 325px;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 5px;
}

.quiz-item:hover {
  background-color: #f8f9fa;
}

p{
  color: var(--text-color);
}

.doubts-scroll-container {
  max-height: 250px; 
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-width: thin;
}

.doubts-scroll-container::-webkit-scrollbar {
  width: 6px;
}

.doubts-scroll-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.doubts-scroll-container::-webkit-scrollbar-track {
  background: transparent;
}