.imageCover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageCover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbar{
  background: transparent;
  font-weight: bold;
}

.navbar-toggler-icon{
  color: var(--text-color);
}

a{
  color: var(--text-color);
}

i{
  color: var(--text-color);
}

.btn-theme-toggle {
  font-size: 1rem;
  padding-top: 10px;
  border: none;
  background-color: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.btn-theme-toggle:hover {
  transform: scale(1.2);
}

.nav-item>a{
  text-decoration: none;
  margin-left: 10px;
}