// .collapsed {
//   height: 10px;
//   overflow: hidden;
//   transition: max-height 0.3s ease;
// }

.card{
    height: 400px;
}

.card-text {
    font-size: 12px;
}

.description-text{
    height: 70px;
    overflow: auto;
}

.card-title{
    font-size: 15px;
}