.card{
    height: 300px;
}

.card-text {
    font-size: 12px;
}

.description-text{
    height: 70px;
    overflow: auto;
    margin-bottom: 5px;
}

.card-title{
    font-size: 12px;
}