<div class="container mt-5 col-md-6">
  <div class="card p-4 shadow-sm">
    <h4 class="mb-4 text-primary"><i class="fa-solid fa-folder-plus"></i> Create a New Course</h4>
    <form (ngSubmit)="createCourse()" #courseForm="ngForm" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label">Course Title</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="course.title"
          name="title"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea
          class="form-control"
          [(ngModel)]="course.description"
          name="description"
          rows="4"
          required
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Course Price</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="course.price"
          name="Price"
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Course Thumbnail</label>
        <input
          type="file"
          class="form-control"
          (change)="onThumbnailSelected($event)"
          accept="image/*"
          #fileInput 
        />
      </div>

      <button [disabled]="isCreating" class="btn btn-success w-100" type="submit">
        <i class="fas fa-plus me-1"></i> Create Course
      </button>
    </form>
  </div>
</div>
